In [1]:
import itertools
from random import randint
from random import seed
import pandas as pd
import numpy as np

In [2]:
seed(42)
perm = [list(i) for i in list(itertools.product([0, 1], repeat=8))]
perm[randint(0, len(perm))]

[0, 0, 1, 1, 1, 0, 0, 1]

In [3]:
df =pd.DataFrame({'perm': perm})
df = pd.DataFrame(df['perm'].to_list(), columns=['LLL','LLH','LHL','LHH','HLL','HLH','HHL','HHH'])

In [4]:
df.head()

   LLL  LLH  LHL  LHH  HLL  HLH  HHL  HHH
0    0    0    0    0    0    0    0    0
1    0    0    0    0    0    0    0    1
2    0    0    0    0    0    0    1    0
3    0    0    0    0    0    0    1    1
4    0    0    0    0    0    1    0    0

In [5]:
df['ch1_ch2_LL'] = ''
df['ch1_ch2_LH'] = ''
df['ch1_ch2_HL'] = ''
df['ch1_ch2_HH'] = ''
df['ch1_cpu_LL'] = ''
df['ch1_cpu_LH'] = ''
df['ch1_cpu_HL'] = ''
df['ch1_cpu_HH'] = ''
df['ch2_cpu_LL'] = ''
df['ch2_cpu_LH'] = ''
df['ch2_cpu_HL'] = ''
df['ch2_cpu_HH'] = ''

In [6]:
for index, row in df.iterrows():
    ###ch1_ch2
    if row['LLL'] == 1*1.00 or row['LLH'] == 1*1.00:
        #print('{} // {}'.format('LL', index))
        df.at[index, 'ch1_ch2_LL'] = 1.00
        
    if row['LHL'] == 1*1.00 or row['LHH'] == 1*1.00:
        #print('{} // {}'.format('LH', index))
        df.at[index, 'ch1_ch2_LH'] = 1.00
        
    if row['HLL'] == 1*1.00 or row['HLH'] == 1*1.00:
        #print('{} // {}'.format('HL', index))
        df.at[index, 'ch1_ch2_HL'] = 1.00
        
    if row['HHL'] == 1*1.00 or row['HHH'] == 1*1.00:
        #print('{} // {}'.format('HH', index))
        df.at[index, 'ch1_ch2_HH'] = 1.00

In [7]:
for index, row in df.iterrows():
    ###ch1_cpu    
    if row['LLL'] == 1*1.00 or row['LHL'] == 1*1.00:
        #print('{} // {}'.format('LL', index))
        df.at[index, 'ch1_cpu_LL'] = 1.00
        
    if row['LLH'] == 1*1.00 or row['LHH'] == 1*1.00:
        #print('{} // {}'.format('LH', index))
        df.at[index, 'ch1_cpu_LH'] = 1.00
        
    if row['HLL'] == 1*1.00 or row['HHL'] == 1*1.00:
        #print('{} // {}'.format('HL', index))
        df.at[index, 'ch1_cpu_HL'] = 1.00
        
    if row['HLH'] == 1*1.00 or row['HHH'] == 1*1.00:
        #print('{} // {}'.format('HH', index))
        df.at[index, 'ch1_cpu_HH'] = 1.00

In [8]:
for index, row in df.iterrows():
    ###ch2_cpu    
    if row['LLL'] == 1*1.00 or row['HLL'] == 1*1.00:
        #print('{} // {}'.format('LL', index))
        df.at[index, 'ch2_cpu_LL'] = 1.00
        
    if row['LLH'] == 1*1.00 or row['HLH'] == 1*1.00:
        #print('{} // {}'.format('LH', index))
        df.at[index, 'ch2_cpu_LH'] = 1.00
        
    if row['LHL'] == 1*1.00 or row['HHL'] == 1*1.00:
        #print('{} // {}'.format('HL', index))
        df.at[index, 'ch2_cpu_HL'] = 1.00
        
    if row['LHH'] == 1*1.00 or row['HHH'] == 1*1.00:
        #print('{} // {}'.format('HH', index))
        df.at[index, 'ch2_cpu_HH'] = 1.00

In [9]:
df.replace('', np.nan, inplace=True) 
df.fillna(0, inplace=True)

In [10]:
mask = ['ch1_ch2_LL', 'ch1_ch2_LH', 'ch1_ch2_HL',
        'ch1_ch2_HH', 'ch1_cpu_LL', 'ch1_cpu_LH',
        'ch1_cpu_HL', 'ch1_cpu_HH', 'ch2_cpu_LL',
        'ch2_cpu_LH', 'ch2_cpu_HL', 'ch2_cpu_HH']

In [11]:
df['total'] = df[mask].sum(axis=1)

In [12]:
df.head()

,LLL,LLH,LHL,LHH,HLL,HLH,HHL,HHH,ch1_ch2_LL,ch1_ch2_LH,...,ch1_ch2_HH,ch1_cpu_LL,ch1_cpu_LH,ch1_cpu_HL,ch1_cpu_HH,ch2_cpu_LL,ch2_cpu_LH,ch2_cpu_HL,ch2_cpu_HH,total
0,0,0,0,0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0,0,0,0,0,0,1,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,3.0
2,0,0,0,0,0,0,1,0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,3.0
3,0,0,0,0,0,0,1,1,0.0,0.0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,5.0
4,0,0,0,0,0,1,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,3.0

In [13]:
df[df['total'] == 12.].shape

(35, 21)